PORT=
# run the following python script in the terminal,
# to generate a secure random string
# import uuid
# uuid.uuid4()
SESSION_SECRET=
DATABASE=
DATABASE_PORT=
DATABASE_DIALECT=
DATABASE_USER=
DATABASE_PASSWORD=
JWT_SECRET=

#testing
DATABASE_TEST=
DATABASE_PORT_TEST=
DATABASE_DIALECT_TEST=
DATABASE_USER_TEST=
DATABASE_PASSWORD_TEST=
